In [1]:
import pandas as pd
import numpy as np
import glob

In [36]:
sorted(glob.glob('*.csv'))

['866_885261_us_submit_31.csv',
 '866_937928_us_submission129.csv',
 'submission(138).csv']

In [37]:
i = 0
index = None
for f in sorted(glob.glob('*.csv')):
    df[i] = pd.read_csv(f)['units_sold']
    if i == 0:
        index = pd.read_csv(f)['record_ID']
    i += 1

In [76]:
pred = pd.DataFrame()
pred['record_ID'] = index

In [39]:
df.corr()

          0         1         2
0  1.000000  0.995328  0.994853
1  0.995328  1.000000  0.998179
2  0.994853  0.998179  1.000000

In [56]:
w1 = 1
w2 = 1
w3 = 1

In [126]:
df[0].describe()

count    13860.000000
mean        46.913335
std         44.039042
min          2.244739
25%         19.446041
50%         33.245008
75%         59.455613
max        692.053608
Name: 0, dtype: float64

In [130]:
train = pd.read_csv('train.csv')

In [140]:
def rounding(num):
    round_num, round_num2 = 0, 0
    uniques = np.unique(train['units_sold'])
    for i,n in enumerate(uniques):
        if n > num:
            break
        round_num = n
        round_num2 = uniques[i+1]
    return (round_num+round_num2)/2

In [142]:
pred['units_sold'] = df[0].apply(rounding)

In [143]:
pred.to_csv('sub.csv',index=False)

In [144]:
pred.describe()

           record_ID    units_sold
count   13860.000000  13860.000000
mean   222460.146392     47.416162
std      5668.258490     44.043704
min    212645.000000      3.000000
25%    217557.750000     20.000000
50%    222466.500000     34.000000
75%    227367.250000     60.000000
max    232287.000000    694.000000